@charset "UTF-8";


*{
    margin: 0px ;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, rgb(183, 180, 189), rgb(210, 224, 218));
    font-family: 1em;
    
    
}

header{
    background-image: linear-gradient(to top, rgb(65, 63, 63), rgb(248, 240, 225));
    font-size: 17px;
    color: white;
    padding: 10px;
    margin-top: 7px;
    margin-left: 3px;
    margin-bottom: -8px;
    margin-right: 14px;
    border-radius: 3px;
    box-shadow: 1px 1px 10px white;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
header h1{
     color: white;
     padding: 10px;
     flex: 0 0 250px;
}
nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}
nav a{
    background-color: black;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 9px;
    text-decoration: none;
    text-align: center;
    transition-duration: .2s;
}
nav a:hover{
    color: black;
    background-color: white;
    transition-duration: .2s;

}
main{
   margin-top: 12px;
   margin-right: 20px;
   margin-left: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.466);
}
main h2{
    text-align: center;
    margin-bottom: 10px;
}
main p{
    text-indent: 20px;
    line-height: 23px;
}